figs/*
*output*.txt
*.png
*.jpg
__*
*.pyc
figs/
.DS_Store
*/workspace.xml
workspace.xml
.idea
.spyproject
.spyproject/*
.cache/*
*/.idea
.ieda/*
.mypy_cache/
.mypy_cache/*
.ropeproject/*
.ropeproject
tags/*
tags
*/tags
*.swp
*.*~
__py_cache__/*
*/__py_cache__
dist/*
*/dist
*.egg-info
